nav {
	display: flex;
	/*backdrop-filter: blur(5px); */
	background: transparent;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}
ul {
	display: flex;
	list-style: none;
	margin-left: auto;
}
li {
	margin-right: 20px;
}
button {
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-family: Verdana;
}
